.moda {
    color: white;
}

.cabecalho-moda {
    background-color: #bb86fc;
}

.produtos-moda {
    background-color: #424250;
}

.casa {
    color: white;
}

.cabecalho-casa {
    background-color: #00c4b4;
}

.produtos-casa {
    background-color: #424250;
}